/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v27-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-300.woff') format('woff'); /* Modern Browsers */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff'); /* Modern Browsers */
}

html {
  font-family: "Open Sans", sans-serif;
  color: #1c1c1c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;    
}

a:focus {
  outline: 1px dashed #3172b9;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  background-color: #3172b9;
  border-radius: 4px;
  transition: background-color .3s ease;
  cursor: pointer;
}

.btn:hover {
  background: #3c88dc;
}

.btn-big {
  padding: 20px 60px;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-center {
  text-align: center;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 2.25rem;
  line-height: 1.3;
  font-weight: 300;
  color: #414141;
}

.section-description  {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.5625rem;
  color: #787878;
}

/* Header */
.header {
  height: 110px;
  border-bottom: 1px solid #e4e4e4;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* .logo {
  margin-right: auto;
} */

.nav-list {
  display: flex;
  margin: auto;
  align-items: center;
}

.nav-item {
  font-size: 15px;
  line-height: 1;
}

.nav-item:hover {
  height: 100%;
  /* border-bottom: 3px solid #3172b9; */
}

.nav-link {
  font-size: 15px;
  line-height: 1;
  color: #1c1c1c;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #3172b9;
}
.nav-link:active {
  color: red;
}

/* .nav-item.is-active .nav-link {
  color: #3172b9;
} */

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  margin-left: 40px;
}

/* Hero */
.section-hero {
  background: url(/img/Hero.jpg) no-repeat right top white;
  background-size: contain;
  border-bottom: 1px solid #e4e4e4;
}

.section-hero__container {
  padding-top: 125px;
  padding-bottom: 130px;
}

.section-hero__content {
  max-width: 50%;
}

.section-hero__heading {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-weight: 300;
  color: #1c1c1c;
}

.section-hero__description {
  margin-bottom: 40px;
}

.section-hero__action {
  display: inline-block;
}

.section-hero__btn-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 11px;
  line-height: 1;
  color: #787878;
  text-transform: uppercase;
  text-align: center;
}

.section-hero__ssl-icon {
  display: inline-block;
  width: 13px;
  height: 17px;
  margin-right: 10px;
  background: url(/img/ssl.svg) center center transparent no-repeat;
  background-size: contain;
  transform: translateY(-1px);
}

/* What We Do */
.section-do {
  padding-top: 100px;
  padding-bottom: 165px;
  border-bottom: 1px solid #e4e4e4;
}

.section-do-description {
  margin-top: 0px;
}

.section-do-list {
  display: flex;
  margin-top: 50px;
}

.section-do-item {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.section-do-item:hover {
  cursor: pointer;
  color: #fff;
  background-color: #3172b9;
}

.section-do-item:not(:last-child) {
  margin-right: 30px;
}

.section-do-item-icon {
  margin-bottom: 30px;
}

.section-do-item:hover .section-do-item-icon path {
  fill: #fff;
}

.section-do-item-icon path {
  transition: fill .3s ease;
}

.section-do-item-heading {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 18px;
}

.section-do-item-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  color: #787878;
  margin-top: 0;
  transition: color .3s ease;
}

.section-do-item:hover .section-do-item-description {
  color: #fff;
}

/* Clients */
.section-clients {
  padding-top: 60px;
  padding-bottom: 160px;
  border-bottom: 1px solid #e4e4e4;
}

.section-clients-heading {
  margin-bottom: 45px;
}

.section-clients-list {
  display: flex;
  height: 360px;
  justify-content: space-between;
  margin-top: 50px;
}

.section-clients-item {
  flex: 1 1 33.33%;
  padding: 60px 40px 30px 40px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.section-clients-item:not(:last-child) {
  margin-right: 30px;
}

.section-clients-user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 65px;
  align-content: flex-start;
  justify-content: center;
}

.section-clients-testimonial {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #787878;
  height: 175px;
  border-bottom: 1px solid #e9e9e9;
}

.section-clients-user-info {
  font-size: 17px;
  line-height: 25px;
  font-weight: 600;
}

.section-clients-user-description {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #787878;
}

.section-clients-avatar {
  width: 65px;
  height: 65px;
  margin-right: 15px;
  border: 2px solid #3172b9;
  border-radius: 50%;
}

/* Contacts */
.section-contacts {
  padding-top: 70px;
  padding-bottom: 170px;
  border-bottom: 1px solid #e4e4e4;
}

.section-contacts-list {
  display: flex;
  justify-content: space-between;
}

.section-contacts-item {
  flex: 1 1 33.33%;
  max-width: 250px;
}

.section-contacts-icon {
  display: block;
  height: 26px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: auto 100%;
  background-color: transparent;
}

.section-contacts-icon-gps {
  background-image: url(/img/gps.png);
}
.section-contacts-icon-phone {
  background-image: url(/img/phone.png);
}
.section-contacts-icon-mail {
  background-image: url(/img/mail.png);
  background-size: auto 19px;
}

.section-contacts-heading {
  display: block;
  margin-bottom: 45px;
  font-size: 17px;
  line-height: 1;
  font-weight: 600;
  color: #1c1c1c;
}

.section-contacts-info {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #787878;
}

.section-contacts-link {
  color: #787878;
}

/* Section Form */
.section-form {
  padding-top: 120px;
  padding-bottom: 118px;
  border-bottom: 1px solid #e4e4e4;
}

.section-form-header {
  margin-bottom: 35px;
}

.section-form-description {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  color: #787878;
  margin-bottom: 57px;
}

.form {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}

.input {
  width: 230px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  color: #787878;
  background: transparent;
  border-radius: 30px;
  border: 1px solid #dadada;
}

.btn-submit {
  width: 230px;
  height: 60px;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  color:#fff;
  box-shadow: none;
  border-radius: 30px;
  border: none;
}

/* Footer */
.footer {
  height: 125px;
}
.footer-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.footer-left {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
}

.footer-nav-item:not(:last-child) {
  margin-right: 35px;
}

.footer-social-list {
  display: flex;
  align-items: end;
  margin-left: 58px;
}

.footer-social-icon {
  display: inline-block;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: transparent;
}

.footer-social-item:not(:last-child) {
  margin-right: 30px;
}

.footer-social-icon-twitter {
  background-image: url(../img/twitter.svg);
  width: 18px;
  height: 15px;
}
.footer-social-icon-linkedin {
  background-image: url(../img/linkedin.svg);
  width: 20px;
  height: 20px;
}
.footer-social-icon-email {
  background-image: url(../img/mail.svg);
  width: 24px;
  height: 17px;
}

.footer-copyrights {
  font-size: 12px;
  line-height: 17px;
  font-weight: normal;
  color: #787878;
}

.footer-nav-item {
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
}

.footer-nav-link {
  color: #787878;
}